:root {
    --main-bg-color: #f2f0ec;
    --main-fg-color: #2d2d2d;
    --transparent-background: rgba(45, 45, 45, 0.9);
    --background-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--main-fg-color);
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: var(--main-fg-color);
}

.tabContent {
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: var(--main-bg-color);
    text-align: center;
}

.overlay {
    background-color: var(--transparent-background);
    border: 0px solid var(--transparent-background);
    border-radius: 10px;
    line-height: 38px;
    box-shadow: var(--background-shadow);
}
